<section class="panel panel-default table-dynamic col-sm-12">   
    <div class="panel-body" data-ng-controller="TabsDemoCtrl">
        <div class="row">              
            <div class="ui-tab-container ui-tab-info">
                <tabset class="ui-tab">
                    <tab heading="Region">                      
                      <div data-ng-controller="tableRegionCtrl">
                        <div class="table-filters">
                          <div class="row">
                              <div class="col-sm-4 col-xs-6">
                                  <form>
                                      <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                                  </form>
                              </div>
                              <div class="col-sm-3 col-xs-6 filter-result-info">
                                  <span>
                                      Showing {{filteredRegions.length}}/{{regions.length}} entries
                                  </span>              
                              </div>
                             <div class="col-sm-5 text-right">  
                              <button class="btn btn-gap-v btn-info" ng-click="open('region')"><span class="glyphicon glyphicon-plus"></span> Add Region</button>                            
                              </div>
                          </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                          <thead>
                              <tr>
                                  <th class="col-md-2"><div class="th">
                                      ID
                                      <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('code') " data-ng-class="{active: row == 'code'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-code') " data-ng-class="{active: row == '-code'}"></span>
                                  </div></th>
                                  <th class="col-md-8"><div class="th">
                                      Name
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('name') "
                                            data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-name') "
                                            data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>
                                  <th class="col-sn"><div class="th">
                                      Map
                                  </div></th>                                  
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="region in currentPageRegions">
                                  <td>{{region.code}}</td>
                                  <td>{{region.name}}</td>
                                  <td><span class="glyphicon glyphicon-globe"></span></td>                              
                                  <td class="col-sn" data-ng-show="true">
                                    <span class="glyphicon glyphicon-edit"  data-ng-click="edit('region', region._id, region.code, region.name)"></span>
                                    <span class="glyphicon glyphicon-trash" data-ng-click="delete('region', region._id)"></span>
                                  </td>
                              </tr>
                           </tbody>
                        </table>

                        <footer class="table-footer">
                          <div class="row">
                              <div class="col-md-6 page-num-info">
                                  <span>
                                      Show 
                                      <select data-ng-model="numPerPage"
                                              data-ng-options="num for num in numPerPageOpt"
                                              data-ng-change="onNumPerPageChange()">
                                      </select> 
                                      entries per page
                                  </span>
                              </div>
                              <div class="col-md-6 text-right pagination-container">
                                  <pagination class="pagination-sm"
                                              ng-model="currentPage"
                                              total-items="filteredRegions.length"
                                              max-size="4"
                                              ng-change="select(currentPage)"
                                              items-per-page="numPerPage"
                                              rotate="false"
                                              boundary-links="true"></pagination>
                              </div>
                          </div>
                        </footer>
                      </div>
                    
                    </tab>



                    <tab heading="Areas">
                         <div data-ng-controller="tableAreaCtrl">
                        <div class="table-filters">
                          <div class="row">
                              <div class="col-sm-4 col-xs-6">
                                  <form>
                                      <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                                  </form>
                              </div>
                              <div class="col-sm-3 col-xs-6 filter-result-info">
                                  <span>
                                      Showing {{filteredAreas.length}}/{{areas.length}} entries
                                  </span>              
                              </div>

                              <div class="col-sm-5 text-right">                               
                                <button class="btn btn-gap-v btn-info" ng-click="open('area')"><span class="glyphicon glyphicon-plus"></span> Add Area</button>                            
                              </div>
                          </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                          <thead>
                              <tr>
                                 <th class="col-md-3"> <div class="th">
                                      ID
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('code') "
                                            data-ng-class="{active: row == 'code'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-code') "
                                            data-ng-class="{active: row == '-code'}"></span>
                                  </div></th>
                                  <th class="col-md-3"><div class="th">
                                      Region
                                      <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>
                                  <th class="col-md-3"> <div class="th">
                                      Area
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('name') "
                                            data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-name') "
                                            data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>                                  
                                  <th class="col-sn"><div class="th">
                                      Map                                      
                                  </div></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="area in currentPageAreas">
                                  <td>{{area.code}}</td>
                                  <td>{{area._id}}</td>
                                  <td>{{area.name}}</td>
                                  <td><span class="glyphicon glyphicon-globe"></span></td>                                 
                                  <td class="col-sn" data-ng-show="true">
                                    <span class="glyphicon glyphicon-edit"  data-ng-click="edit('area', area._id, area.code, area.name)"></span>
                                    <span class="glyphicon glyphicon-trash" data-ng-click="delete('area', area._id)"></span>
                                  </td>
                              </tr>
                           </tbody>
                        </table>

                        <footer class="table-footer">
                          <div class="row">
                              <div class="col-md-6 page-num-info">
                                  <span>
                                      Show 
                                      <select data-ng-model="numPerPage"
                                              data-ng-options="num for num in numPerPageOpt"
                                              data-ng-change="onNumPerPageChange()">
                                      </select> 
                                      entries per page
                                  </span>
                              </div>
                              <div class="col-md-6 text-right pagination-container">
                                  <pagination class="pagination-sm"
                                              ng-model="currentPage"
                                              total-items="filteredAreas.length"
                                              max-size="4"
                                              ng-change="select(currentPage)"
                                              items-per-page="numPerPage"
                                              rotate="false"
                                              boundary-links="true"></pagination>
                              </div>
                          </div>
                        </footer>
                      </div>
                    </tab>
                   



                    <tab heading="Territories">
                         <div data-ng-controller="tableTerritoryCtrl">
                        <div class="table-filters">
                          <div class="row">
                              <div class="col-sm-4 col-xs-6">
                                  <form>
                                      <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                                  </form>
                              </div>
                              <div class="col-sm-3 col-xs-6 filter-result-info">
                                  <span>
                                      Showing {{filteredTerritorys.length}}/{{territorys.length}} entries
                                  </span>              
                              </div>

                              <div class="col-sm-5 text-right">                               
                                <button class="btn btn-gap-v btn-info" ng-click="open('territory')"><span class="glyphicon glyphicon-plus"></span> Add Territories</button>                            
                              </div>
                          </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                          <thead>
                              <tr>
                                  <th class="col-md-3"><div class="th">
                                      Region
                                      <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('code') " data-ng-class="{active: row == 'code'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-code') " data-ng-class="{active: row == '-code'}"></span>
                                  </div></th>
                                  <th class="col-md-3"> <div class="th">
                                      Area
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('price') "
                                            data-ng-class="{active: row == 'price'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-price') "
                                            data-ng-class="{active: row == '-price'}"></span>
                                  </div></th>
                                  <th class="col-md-3"><div class="th">
                                     Territory
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('name') "
                                            data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-name') "
                                            data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>                                  
                                  <th class="col-sn"><div class="th">
                                      Map                                      
                                  </div></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="territory in currentPageTerritorys">
                                  <td>{{territory._id}}</td>
                                  <td>{{territory._id}}</td>
                                  <td>{{territory.name}}</td>
                                  <td><span class="glyphicon glyphicon-globe"></span></td>                                                                   
                                  <td class="col-sn" data-ng-show="true">
                                    <span class="glyphicon glyphicon-edit"  data-ng-click="edit('territory', territory._id, territory.code, territory.name)"></span>
                                    <span class="glyphicon glyphicon-trash" data-ng-click="delete('territory', territory._id)"></span>
                                  </td>
                              </tr>
                           </tbody>
                        </table>

                        <footer class="table-footer">
                          <div class="row">
                              <div class="col-md-6 page-num-info">
                                  <span>
                                      Show 
                                      <select data-ng-model="numPerPage"
                                              data-ng-options="num for num in numPerPageOpt"
                                              data-ng-change="onNumPerPageChange()">
                                      </select> 
                                      entries per page
                                  </span>
                              </div>
                              <div class="col-md-6 text-right pagination-container">
                                  <pagination class="pagination-sm"
                                              ng-model="currentPage"
                                              total-items="filteredTerritorys.length"
                                              max-size="4"
                                              ng-change="select(currentPage)"
                                              items-per-page="numPerPage"
                                              rotate="false"
                                              boundary-links="true"></pagination>
                              </div>
                          </div>
                        </footer>
                      </div>
                    </tab>
                    
                    <tab heading="Bricks">
                         <div data-ng-controller="tableCtrl">
                        <div class="table-filters">
                          <div class="row">
                              <div class="col-sm-4 col-xs-6">
                                  <form>
                                      <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                                  </form>
                              </div>
                              <div class="col-sm-3 col-xs-6 filter-result-info">
                                  <span>
                                      Showing {{filteredStores.length}}/{{stores.length}} entries
                                  </span>              
                              </div>

                              <div class="col-sm-5 text-right" data-ng-controller="ModalDemoCtrl">                               
                                <button class="btn btn-gap-v btn-info" ng-click="open('brick')"><span class="glyphicon glyphicon-plus"></span> Add Bricks</button>                            
                              </div>
                          </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                          <thead>
                              <tr>
                                  <th class="col-md-2"><div class="th">
                                      Region
                                      <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>
                                  <th class="col-md-2"> <div class="th">
                                      Area
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('price') "
                                            data-ng-class="{active: row == 'price'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-price') "
                                            data-ng-class="{active: row == '-price'}"></span>
                                  </div></th>
                                  <th class="col-md-2"><div class="th">
                                     Territory
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('sales') "
                                            data-ng-class="{active: row == 'sales'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-sales') "
                                            data-ng-class="{active: row == '-sales'}"></span>
                                  </div></th>
                                  <th class="col-md-2"> <div class="th">
                                      Brick
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('brick') "
                                            data-ng-class="{active: row == 'brick'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-brick') "
                                            data-ng-class="{active: row == '-brick'}"></span>
                                  </div></th>
                                  
                                  <th class="col-md-2"><div class="th">
                                      Color
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('color') "
                                            data-ng-class="{active: row == 'color'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-color') "
                                            data-ng-class="{active: row == '-color'}"></span>
                                  </div></th>
                                  <th class="col-sn"><div class="th">
                                      Map                                      
                                  </div></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="store in currentPageStores">
                                  <td>{{store.name}}</td>
                                  <td>{{store.price}}</td>
                                  <td>{{store.sales}}</td>
                                  <td>{{store.rating}}</td>                                  
                                  <td>{{store.sales}}</td>
                                  <td><span class="glyphicon glyphicon-globe"></span></td>
                                  <td class="col-sn" data-ng-show="true">
                                    <span class="glyphicon glyphicon-edit"  data-ng-click=""></span>
                                    <span class="glyphicon glyphicon-trash" data-ng-click=""></span>
                                  </td>
                              </tr>
                           </tbody>
                        </table>

                        <footer class="table-footer">
                          <div class="row">
                              <div class="col-md-6 page-num-info">
                                  <span>
                                      Show 
                                      <select data-ng-model="numPerPage"
                                              data-ng-options="num for num in numPerPageOpt"
                                              data-ng-change="onNumPerPageChange()">
                                      </select> 
                                      entries per page
                                  </span>
                              </div>
                              <div class="col-md-6 text-right pagination-container">
                                  <pagination class="pagination-sm"
                                              ng-model="currentPage"
                                              total-items="filteredStores.length"
                                              max-size="4"
                                              ng-change="select(currentPage)"
                                              items-per-page="numPerPage"
                                              rotate="false"
                                              boundary-links="true"></pagination>
                              </div>
                          </div>
                        </footer>
                      </div>
                    </tab>
                    
                    <tab heading="Locations">
                        <div data-ng-controller="tableCtrl">
                        <div class="table-filters">
                          <div class="row">
                              <div class="col-sm-4 col-xs-6">
                                  <form>
                                      <input type="text" placeholder="search" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                                  </form>
                              </div>
                              <div class="col-sm-3 col-xs-6 filter-result-info">
                                  <span>
                                      Showing {{filteredStores.length}}/{{stores.length}} entries
                                  </span>              
                              </div>
                              <div class="col-sm-5 text-right" data-ng-controller="ModalDemoCtrl">                               
                                <button class="btn btn-gap-v btn-info" ng-click="open('location')"><span class="glyphicon glyphicon-plus"></span> Add Location</button>                            
                              </div>
                          </div>
                        </div>

                        <table class="table table-bordered table-striped table-responsive">
                          <thead>
                              <tr>
                                  <th class="col-md-2"><div class="th">
                                      Region
                                      <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                                  </div></th>
                                  <th class="col-md-2"> <div class="th">
                                      Area
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('price') "
                                            data-ng-class="{active: row == 'price'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-price') "
                                            data-ng-class="{active: row == '-price'}"></span>
                                  </div></th>
                                  <th class="col-md-2"><div class="th">
                                     Territory
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('sales') "
                                            data-ng-class="{active: row == 'sales'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-sales') "
                                            data-ng-class="{active: row == '-sales'}"></span>
                                  </div></th>
                                  <th class="col-md-1"> <div class="th">
                                      Brick
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('brick') "
                                            data-ng-class="{active: row == 'brick'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-brick') "
                                            data-ng-class="{active: row == '-brick'}"></span>
                                  </div></th>
                                  <th class="col-md-2"><div class="th">
                                      Location Name
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('location') "
                                            data-ng-class="{active: row == 'location'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-location') "
                                            data-ng-class="{active: row == '-location'}"></span>
                                  </div></th>
                                  <th class="col-md-1"><div class="th">
                                      Type
                                      <span class="glyphicon glyphicon-chevron-up"
                                            data-ng-click=" order('type') "
                                            data-ng-class="{active: row == 'type'}"></span>
                                      <span class="glyphicon glyphicon-chevron-down"
                                            data-ng-click=" order('-type') "
                                            data-ng-class="{active: row == '-type'}"></span>
                                  </div></th>
                                  <th class="col-sn"><div class="th">
                                      Map                                      
                                  </div></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="store in currentPageStores">
                                  <td>{{store.name}}</td>
                                  <td>{{store.price}}</td>
                                  <td>{{store.sales}}</td>
                                  <td>{{store.rating}}</td>
                                  <td>{{store.name}}</td>
                                  <td>{{store.sales}}</td>
                                  <td><span class="glyphicon glyphicon-globe"></span></td>
                                  <td class="col-sn" data-ng-show="true">
                                    <span class="glyphicon glyphicon-edit"  data-ng-click=""></span>
                                    <span class="glyphicon glyphicon-trash" data-ng-click=""></span>
                                  </td>
                              </tr>
                           </tbody>
                        </table>

                        <footer class="table-footer">
                          <div class="row">
                              <div class="col-md-6 page-num-info">
                                  <span>
                                      Show 
                                      <select data-ng-model="numPerPage"
                                              data-ng-options="num for num in numPerPageOpt"
                                              data-ng-change="onNumPerPageChange()">
                                      </select> 
                                      entries per page
                                  </span>
                              </div>
                              <div class="col-md-6 text-right pagination-container">
                                  <pagination class="pagination-sm"
                                              ng-model="currentPage"
                                              total-items="filteredStores.length"
                                              max-size="4"
                                              ng-change="select(currentPage)"
                                              items-per-page="numPerPage"
                                              rotate="false"
                                              boundary-links="true"></pagination>
                              </div>
                          </div>
                        </footer>
                      </div>
                    </tab>
                </tabset>
            </div>                      
        </div>
      
    </div>
</section>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3>{{items.modalName}} Info</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group" ng-show="isRegion || isArea">
        <label for="" class="col-sm-2">ID</label>
        <div class="col-sm-10">
            <input tooltip="Please enter ID of Region" type="text" class="form-control" data-toggle="tooltip" data-placement="top" tooltip-trigger="focus" data-ng-model="items.code" ></input>
        </div>
    </div>
    <div class="form-group" ng-show="isArea || isTeritory || isBrick">
        <label for="" class="col-sm-2">Region</label>
        <div class="col-sm-10">
            <span class="ui-select">
                <select>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
            </span>
        </div>
    </div>

    <div class="form-group" ng-show="isTeritory || isBrick">
        <label for="" class="col-sm-2">Area</label>
        <div class="col-sm-10">
            <span class="ui-select">
                <select>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
            </span>
        </div>
    </div>

    <div class="form-group" ng-show="isBrick">
        <label for="" class="col-sm-2">Territory</label>
        <div class="col-sm-10">
            <span class="ui-select">
                <select>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
            </span>
        </div>
    </div>

    <div class="form-group" ng-show="isLocation">
        <label for="" class="col-sm-2">Brick</label>
        <div class="col-sm-10">
            <span class="ui-select">
                <select>
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Barbecue</option>
                </select>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input tooltip="Please enter name of Region" type="text" class="form-control" data-toggle="tooltip" data-placement="top" tooltip-trigger="focus" data-ng-model="items.name" ></input>
        </div>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="ModalDeleteContent.html">
  <div class="modal-header">
    <h3>Confirmation!</h3>
  </div>
  <div class="modal-body">
      Are you sure, You want to delete this?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>