<section class="panel panel-default table-dynamic col-sm-12"> 
   <div class="panel-body">
        <div data-ng-controller="tableCategoriesCtrl">
            <div class="table-filters">
              <div class="row">
                  <div class="col-sm-4 col-xs-6">
                      <form>
                          <input type="text" placeholder="Search Categories" class="form-control" data-ng-model="searchKeywords" data-ng-keyup="search()"></input>
                      </form>
                  </div>
                  <div class="col-sm-3 col-xs-6 filter-result-info">
                      <span>
                          Showing {{filteredCategories.length}}/{{categories.length}} entries
                      </span>              
                  </div>
                 <div class="col-sm-5 text-right">  
                  <button class="btn btn-gap-v btn-info" ng-click="open('category')"><span class="glyphicon glyphicon-plus"></span> Add Category</button>                            
                  </div>
              </div>
            </div>

            <table class="table table-bordered table-striped table-responsive">
              <thead>
                  <tr>
                      <th class="col-md-2"><div class="th">
                          Name
                          <span class="glyphicon glyphicon-chevron-up" data-ng-click=" order('name') " data-ng-class="{active: row == 'name'}"></span>
                          <span class="glyphicon glyphicon-chevron-down" data-ng-click=" order('-name') " data-ng-class="{active: row == '-name'}"></span>
                      </div></th>
                      <th class="col-md-8"><div class="th">
                          Description
                          <span class="glyphicon glyphicon-chevron-up"
                                data-ng-click=" order('description') "
                                data-ng-class="{active: row == 'description'}"></span>
                          <span class="glyphicon glyphicon-chevron-down"
                                data-ng-click=" order('-description') "
                                data-ng-class="{active: row == '-description'}"></span>
                      </div></th>
                      <th class="col-sn"><div class="th">
                          Icon
                      </div></th>                                  
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="category in currentPageCategories">
                      <td>{{category.name}}</td>
                      <td>{{category.description}}</td>
                      <td><i class="{{category.icon}}"></i></td>                                  
                      <td class="col-sn" data-ng-show="true">
                        <a href="javascript:;"><span class="color-info glyphicon glyphicon-edit"  data-ng-click="edit('category', category._id, category.name, category.description, category.icon)"></span></a>
                        <a href="javascript:;"><span class="color-danger glyphicon glyphicon-trash" data-ng-click="delete('category', category._id)"></span></a>
                      </td>
                  </tr>
               </tbody>
            </table>

            <footer class="table-footer">
              <div class="row">
                  <div class="col-md-6 page-num-info">
                      <span>
                          Show 
                          <select data-ng-model="numPerPage"
                                  data-ng-options="num for num in numPerPageOpt"
                                  data-ng-change="onNumPerPageChange()">
                          </select> 
                          entries per page
                      </span>
                  </div>
                  <div class="col-md-6 text-right pagination-container">
                      <pagination class="pagination-sm"
                                  ng-model="currentPage"
                                  total-items="filteredCategories.length"
                                  max-size="4"
                                  ng-change="select(currentPage)"
                                  items-per-page="numPerPage"
                                  rotate="false"
                                  boundary-links="true"></pagination>
                  </div>
              </div>
            </footer>
        </div>
    </div>
</section>



<script type="text/ng-template" id="categoryModalContent.html">
  <div class="modal-header">
    <h3>{{items.modalName | capitalize}} Info</h3>
  </div>
  <div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-sm-2">Name</label>
        <div class="col-sm-10">
            <input tooltip="Please enter Category name" type="text" class="form-control" data-toggle="tooltip" data-placement="top" tooltip-trigger="focus" data-ng-model="items.name" ></input>
        </div>
    </div>
    
    <div class="form-group">
        <label for="" class="col-sm-2">Description</label>
        <div class="col-sm-10">
            <input tooltip="Please enter description" type="text" class="form-control" data-toggle="tooltip" data-placement="top" tooltip-trigger="focus" data-ng-model="items.desc" ></input>
        </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2">Icon</label>
      <div class="col-sm-10">
        <ul class="nav nav-boxed nav-justified">
          <li><a href="javascript:;" ng-click="pickIcon('color-success glyphicon glyphicon-plus')"><i class="color-success glyphicon glyphicon-plus"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-info glyphicon glyphicon-star-empty')"><i class="color-info glyphicon glyphicon-star-empty"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-danger glyphicon glyphicon-heart')"><i class="color-danger glyphicon glyphicon-heart"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-warning wi-day-sunny')"><i class="color-warning wi-day-sunny"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-primary wi-night-clear')"><i class="color-primary wi-night-clear"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-info-alt glyphicon glyphicon-cloud')"><i class="color-info-alt glyphicon glyphicon-cloud"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-gray glyphicon glyphicon-shopping-cart')"><i class="color-gray glyphicon glyphicon-shopping-cart"></i></a></li>
          <li><a href="javascript:;" ng-click="pickIcon('color-info glyphicon glyphicon-plane')"><i class="color-info glyphicon glyphicon-plane"></i></a></li>
        </ul>       
        <input tooltip="Please choose icon" type="text" class="form-control" data-toggle="tooltip" ng-hide="true" data-placement="top" tooltip-trigger="focus" data-ng-model="items.icon" ></input>
      </div>
    </div>
  </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="ModalDeleteContent.html">
  <div class="modal-header">
    <h3>Confirmation!</h3>
  </div>
  <div class="modal-body">
      Are you sure, You want to delete this?
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm()">Confirm</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>